{% extends 'layout/base.html' %}
{% load static %}
<title>
{% block title %}Directions{% endblock title %}
</title>
{% block content %}
<br>
<br>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'assets/img/breadcrumb-1.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Directions</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'home' %}">Home</a>
                        <span class="breadcrumb__separator"><i class="fa fa-angle-right"></i></span>
                        <span>Directions</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<br>
<section class="about-area section-padding-100-0" id="about">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading">
                    <p>From the city centre (KenCom or Railways), take Bus No. 111 or 24 and alight at Karen Shopping Centre. Then board a Matatu going to Dagoretti Market, and alight at the foot of Rhino Park Road. Make 20 minutes’ walk (1.5km) following the Resurrection Garden sign boards until you come to the entrance of the prayer grounds. It is the first house to your right as you go down Pope John Paul II Walk. In case one prefers not to walk; you may hire a taxi from Karen to Resurrection Garden or take a boda-boda from the main road.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}