{% extends 'layout/base.html' %}
{% load static %}

{% block content %}
<!-- ##### Hero Area Start ##### -->
<section class="hero-area hero-post-slides owl-carousel">
    <!-- Single Hero Slide -->
    <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(static/img/bg-img/main_slider/home.jpg);">
        <!-- Post Content -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-slides-content">
                        <h2 data-animation="fadeInUp" data-delay="100ms">Welcome to the Resurrection Garden</h2>
                        <p data-animation="fadeInUp" data-delay="300ms">What prayer could be more true before God the Father than that which the Son, who is Truth, uttered with His own lips? --Saint John Chrysostom</p>
                        <a href="#about" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Single Hero Slide -->
    <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(static/img/bg-img/main_slider/incense.jpg);">
        <!-- Post Content -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hero-slides-content">
                        <h2 data-animation="fadeInUp" data-delay="100ms">The Resurrection Garden</h2>
                        <p data-animation="fadeInUp" data-delay="300ms">How often I failed in my duty to God, because I was not leaning on the strong pillar of prayer. -- St Teresa of Avila</p>
                        <a href="#about" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### About Area Start ##### -->
<section class="about-area section-padding-100-0" id="about">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading">
                    <h2>Welcome | Karibu | Benvenuto</h2>
                    <p>The Resurrection Garden is a shrine, a place to be respected as we read in Mark 11:17: “And He (Jesus) taught them and said: “Does not Scripture say: my house will be called a house of prayer for all peoples? But you have turned it into a bandit den”.</p>
                </div>
            </div>
        </div>

        <div class="row about-content justify-content-center">
            <!-- Single About Us Content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="about-us-content mb-100">
                    <img src="{% static 'img/bg-img/3.jpg' %}" alt="">
                    <div class="about-text">
                        <h4>Vision</h4>
                        <p>In the Resurrection Garden, the pilgrims experience the presence and love of God and praise him; they strengthen their Christian faith and are called to become messengers of the Good News. 
                            The garden therefore offers to the pilgrims a more abundant way to the means of salvation, to announce the Word of God and to grow in the liturgical life.</p>
                    </div>
                </div>
            </div>

            <!-- Single About Us Content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="about-us-content mb-100">
                    <img src="{% static 'img/bg-img/4.jpg' %}" alt="">
                    <div class="about-text">
                        <h4>Mission</h4>
                        <p>The specific aim of the Resurrection Garden (the Church, the various chapels, the way of salvation, the way of the cross and the grounds themselves) is to offer to the pilgrims a place for prayer, meditation and contemplation.
                            The main feature of this shrine is a biblical journey through the history of salvation, with a special emphasis on the sufferings, passion, death and resurrection of Jesus Christ. Mankind has been saved through the death and Resurrection of Jesus.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Single About Us Content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="about-us-content mb-100">
                    <img src="{% static 'img/bg-img/5.jpg' %}" alt="">
                    <div class="about-text">
                        <h4>Foundation</h4>
                        <p>The Resurrection is the foundation on Christian faith. It is the greatest event in the history of salvation, the supreme proof of Jesus’ divinity, of the divine origin of His teachings and salvation. 
                            A garden in the Bible has a special place and meaning. It is a place that reminds us of the Garden of Eden as a place of life and death</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Area End ##### -->

<!-- ##### Call To Action Area Start ##### -->
<section class="call-to-action-area section-padding-100 bg-img bg-overlay" style="background-image: url(static/img/bg-img/17.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="call-to-action-content text-center">
                    <h6>Verse of the Day</h6>
                    <h2>“Blessed is the nation whose God is the LORD, the people he chose for his inheritance.” — Psalm 33:12.</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Call To Action Area End ##### -->

<!-- ##### Latest Sermons Area Start ##### -->
<section class="latest-sermons-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading">
                    <h2>Latest Sermons</h2>
                    <p>Daily Reflections on the Gospel of the day</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Single Latest Sermons -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-latest-sermons mb-100">
                    <div class="sermons-thumbnail">
                        <img src="{% static 'img/bg-img/sermons.jpg' %}" alt="">
                        <!-- Date -->
                        <div class="sermons-date">
                            <h6><span>02</span>APR</h6>
                        </div>
                    </div>
                    <div class="sermons-content">
                        <div class="sermons-cata">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Video"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Audio"><i class="fa fa-headphones" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Docs"><i class="fa fa-file" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Download"><i class="fa fa-cloud-download" aria-hidden="true"></i></a>
                        </div>
                        <h4>Love of God and Neighbor</h4>
                        <div class="sermons-meta-data">
                            <p><i class="fa fa-user" aria-hidden="true"></i> Admin: <span>- Michael</span></p>
                            <p><i class="fa fa-tag" aria-hidden="true"></i> Theme: <span>Sermons often emphasize the importance of loving God and one's neighbor as oneself, drawing from the Great Commandment.</span></p>
                            <p><i class="fa fa-clock-o" aria-hidden="true"></i> 02 Apr <span></span></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Latest Sermons -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-latest-sermons mb-100">
                    <div class="sermons-thumbnail">
                        <img src="{% static 'img/bg-img/8.jpg' %}" alt="">
                        <!-- Date -->
                        <div class="sermons-date">
                            <h6><span>11</span>MAR</h6>
                        </div>
                    </div>
                    <div class="sermons-content">
                        <div class="sermons-cata">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Video"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Audio"><i class="fa fa-headphones" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Docs"><i class="fa fa-file" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Download"><i class="fa fa-cloud-download" aria-hidden="true"></i></a>
                        </div>
                        <h4>Forgiveness and Mercy</h4>
                        <div class="sermons-meta-data">
                            <p><i class="fa fa-user" aria-hidden="true"></i> Admin: <span>- Michael</span></p>
                            <p><i class="fa fa-tag" aria-hidden="true"></i> Theme: <span>The importance of seeking and offering forgiveness, both from God and from others, is a frequent topic.</span></p>
                            <p><i class="fa fa-clock-o" aria-hidden="true"></i> 11 Mar <span></span></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Latest Sermons -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-latest-sermons mb-100">
                    <div class="sermons-thumbnail">
                        <img src="{% static 'img/bg-img/sermons1.jpg' %}" alt="">
                        <!-- Date -->
                        <div class="sermons-date">
                            <h6><span>15</span>FEB</h6>
                        </div>
                    </div>
                    <div class="sermons-content">
                        <div class="sermons-cata">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Video"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Audio"><i class="fa fa-headphones" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Docs"><i class="fa fa-file" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Download"><i class="fa fa-cloud-download" aria-hidden="true"></i></a>
                        </div>
                        <h4>Prayer and Devotion</h4>
                        <div class="sermons-meta-data">
                            <p><i class="fa fa-user" aria-hidden="true"></i> Admin: <span>- Michael</span></p>
                            <p><i class="fa fa-tag" aria-hidden="true"></i> Theme: <span>Sermons often encourage regular prayer and spiritual practices, like the sacraments, to deepen one's relationship with God.</span></p>
                            <p><i class="fa fa-clock-o" aria-hidden="true"></i> 15 Feb <span></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Latest Sermons Area End ##### -->

<!-- ##### Upcoming Events Area Start ##### -->
<section class="upcoming-events-area section-padding-0-100">
    <!-- Upcoming Events Heading Area -->
    <div class="upcoming-events-heading bg-img bg-overlay bg-fixed" style="background-image: url(static/img/bg-img/21.jpg);">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading text-left white">
                        <h2>Upcoming Events</h2>
                        <p>Upcoming/Ongoing Events</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Upcoming Events Slide -->
    <div class="upcoming-events-slides-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="upcoming-slides owl-carousel">

                        <div class="single-slide">
                            <!-- Single Upcoming Events Area -->
                            <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                                <!-- Thumbnail -->
                                <div class="upcoming-events-thumbnail">
                                    <img src="{% static 'img/bg-img/17.jpg' %}" alt="">
                                </div>
                                <!-- Content -->
                                <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                                    <div class="events-text">
                                        <h4>Jubilee 2025 - Pilgrims of Hope</h4>
                                        <div class="events-meta">
                                            <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> May 01,</a>
                                            <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 11:00</a>
                                            <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Rhino park Road, Karen, Nairobi Kenya</a>
                                        </div>
                                        <p>Jubilee - 2025 Year of Prayer</p>
                                        <a href="#">read more <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Upcoming Events Area -->
                            <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                                <!-- Thumbnail -->
                                <div class="upcoming-events-thumbnail">
                                    <img src="{% static 'img/bg-img/22.jpg' %}" alt="">
                                </div>
                                <!-- Content -->
                                <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                                    <div class="events-text">
                                        <h4>CHRISTIANS PARTICIPATE IN ‘WALK OF HOPE’ TO PROMOTE MENTAL WELLNESS FOR THE JUBILEE YEAR OF PRAYER 2025
                                        </h4>
                                        <div class="events-meta">
                                            <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> March 15</a>
                                            <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 - 13:00</a>
                                            <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Rhino park Road, Karen, Nairobi Kenya</a>
                                        </div>
                                        <p>Jubilee - 2025 Year of Prayer</p>
                                        <a href="#">read more <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Upcoming Events Area -->
                            <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                                <!-- Thumbnail -->
                                <div class="upcoming-events-thumbnail">
                                    <img src="{% static 'img/bg-img/18.jpg' %}" alt="">
                                </div>
                                <!-- Content -->
                                <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                                    <div class="events-text">
                                        <h4>Pilgrims of Hope</h4>
                                        <div class="events-meta">
                                            <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> March 19</a>
                                            <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 17:00</a>
                                            <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Rhino park Road, Karen, Nairobi Kenya</a>
                                        </div>
                                        <p>Jubilee - 2025 Year of Prayer</p>
                                        <a href="#">read more <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                         <div class="single-slide">
                            <!-- Single Upcoming Events Area -->
                            <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                                <!-- Thumbnail -->
                                <div class="upcoming-events-thumbnail">
                                    <img src="{% static 'img/bg-img/17.jpg' %}" alt="">
                                </div>
                                <!-- Content -->
                                <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                                    <div class="events-text">
                                        <h4>Pilgrims of Hope</h4>
                                        <div class="events-meta">
                                            <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> March 01</a>
                                            <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 11:00</a>
                                            <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Rhino park Road, Karen, Nairobi Kenya</a>
                                        </div>
                                        <p>Jubilee - 2025 Year of Prayer</p>
                                        <a href="#">read more <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Upcoming Events Area -->
                            <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                                <!-- Thumbnail -->
                                <div class="upcoming-events-thumbnail">
                                    <img src="{% static 'img/bg-img/13.jpg' %}" alt="">
                                </div>
                                <!-- Content -->
                                <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                                    <div class="events-text">
                                        <h4>Pilgrims of Hope</h4>
                                        <div class="events-meta">
                                            <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Feb 15,</a>
                                            <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 - 13:00</a>
                                            <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Rhino park Road, Karen, Nairobi Kenya</a>
                                        </div>
                                        <p>Jubilee - 2025 Year of Prayer</p>
                                        <a href="#">read more <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>

                            <!-- Single Upcoming Events Area -->
                            <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                                <!-- Thumbnail -->
                                <div class="upcoming-events-thumbnail">
                                    <img src="{% static 'img/bg-img/15.jpg' %}" alt="">
                                </div>
                                <!-- Content -->
                                <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                                    <div class="events-text">
                                        <h4>Pilgrims of Hope</h4>
                                        <div class="events-meta">
                                            <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> March 19</a>
                                            <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 17:00</a>
                                            <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Rhino park Road, Karen, Nairobi Kenya</a>
                                        </div>
                                        <p>Jubilee - 2025 Year of Prayer</p>
                                        <a href="#">read more <i class="fa fa-angle-double-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Upcoming Events Area End ##### -->

<!-- ##### Gallery Area Start ##### -->
<div class="gallery-area d-flex flex-wrap">
    <!-- Single Gallery Area -->
    <div class="single-gallery-area">
        <a href="static/img/bg-img/13.jpg" class="gallery-img" title="Gallery Image 1">
            <img src="{% static 'img/bg-img/13.jpg' %}" alt="">
        </a>
    </div>

    <!-- Single Gallery Area -->
    <div class="single-gallery-area">
        <a href="static/img/bg-img/14.jpg" class="gallery-img" title="Gallery Image 2">
            <img src="{% static 'img/bg-img/14.jpg' %}" alt="">
        </a>
    </div>

    <!-- Single Gallery Area -->
    <div class="single-gallery-area">
        <a href="static/img/bg-img/15.jpg" class="gallery-img" title="Gallery Image 3">
            <img src="{% static 'img/bg-img/15.jpg' %}" alt="">
        </a>
    </div>

    <!-- Single Gallery Area -->
    <div class="single-gallery-area">
        <a href="static/img/bg-img/16.jpg" class="gallery-img" title="Gallery Image 4">
            <img src="{% static 'img/bg-img/16.jpg' %}" alt="">
        </a>
    </div>

    <!-- Single Gallery Area -->
    <div class="single-gallery-area">
        <a href="static/img/bg-img/17.jpg" class="gallery-img" title="Gallery Image 5">
            <img src="{% static 'img/bg-img/17.jpg' %}" alt="">
        </a>
    </div>

    <!-- Single Gallery Area -->
    <div class="single-gallery-area">
        <a href="static/img/bg-img/18.jpg" class="gallery-img" title="Gallery Image 6">
            <img src="{% static 'img/bg-img/18.jpg' %}" alt="">
        </a>
    </div>

    <!-- Single Gallery Area -->
    <div class="single-gallery-area">
        <a href="static/img/bg-img/19.jpg" class="gallery-img" title="Gallery Image 7">
            <img src="{% static 'img/bg-img/19.jpg' %}" alt="">
        </a>
    </div>

    <!-- Single Gallery Area -->
    <div class="single-gallery-area">
        <a href="static/img/bg-img/20.jpg" class="gallery-img" title="Gallery Image 8">
            <img src="{% static 'img/bg-img/20.jpg' %}" alt="">
        </a>
    </div>

    <!-- Single Gallery Area -->
    <div class="single-gallery-area">
        <a href="static/img/bg-img/21.jpg" class="gallery-img" title="Gallery Image 9">
            <img src="{% static 'img/bg-img/21.jpg' %}" alt="">
        </a>
    </div>

    <!-- Single Gallery Area -->
    <div class="single-gallery-area">
        <a href="static/img/bg-img/22.jpg" class="gallery-img" title="Gallery Image 10">
            <img src="{% static 'img/bg-img/22.jpg' %}" alt="">
        </a>
    </div>
</div>
<!-- ##### Gallery Area End ##### -->

<!-- ##### Blog Area Start ##### -->
<section class="blog-area section-padding-100-0" id="news">
    <div class="container">
        <div class="row">
            <!-- Section Heading -->
            <div class="col-12">
                <div class="section-heading">
                    <h2>News & Announcements</h2>
                    <p>Find out what is happening in the Church</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Single Blog Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-post mb-100">
                    <div class="post-thumbnail">
                        <a href="single-post.html"><img src="{% static 'img/bg-img/retreat.jpg' %}" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">
                            <h4>Retreat House - Booking</h4>
                        </a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Admin - Michael</a>
                            <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> April 03</a>
                        </div>
                        <p class="post-excerpt">Booking can be made in person, by telephone, mail, or email, preferably one month before ones intended stay, to secure a place.
                             A non-refundable deposit of at least 30% is required to confirm the booking, and balance to be cleared on arrival. Payment is to be done by closed cheques, payable to “St. Mary Magdalene Retreat House”.</p>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-post mb-100">
                    <div class="post-thumbnail">
                        <a href="single-post.html"><img src="{% static 'img/bg-img/bookshop.jpg' %}" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">
                            <h4>Bookshop/Gift shop</h4>
                        </a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Admin - Michael</a>
                            <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> March 22</a>
                        </div>
                        <p class="post-excerpt">It also serves as the booking and clearing office for the pilgrims. In this gift shop, one can buy a souvenir of the Resurrection Garden and various books and religious articles.
                            The shop/office is open every day from 8.00 A.M. to 5.30 P.M.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-blog-post mb-100">
                    <div class="post-thumbnail">
                        <a href="single-post.html"><img src="{% static 'img/bg-img/12.jpg' %}" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="single-post.html" class="post-title">
                            <h4>Meeting places</h4>
                        </a>
                        <div class="post-meta d-flex">
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i> Admin - Michael</a>
                            <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Feb 15</a>
                        </div>
                        <p class="post-excerpt">The part of the Garden after the Mlango wa Mbingu is used only for public worship (mass, way of the cross and rosary) and for silence and meditation. When a group arrives, if there is any need of a conference, bible meeting or a spiritual talk, there are six sheds next to the parking area meant for that.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Blog Area End ##### -->
<!-- Elfsight Google Reviews | Untitled Google Reviews -->
<script src="https://static.elfsight.com/platform/platform.js" async></script>
<div class="elfsight-app-58e7506e-98a2-47ff-ab70-3563fa8e52d7" data-elfsight-app-lazy></div>
{% endblock %}
