<!-- ##### Subscribe Area Start ##### -->
<section class="subscribe-area">
    <div class="container">
        <div class="row align-items-center">
            <!-- Subscribe Text -->
            <div class="col-12 col-lg-6">
                <div class="subscribe-text">
                    <h3>Saint of the Day: </h3>
                    <h6>St. Isidore of Seville, Archbishop († 636)</h6>
                </div>
            </div>
            <!-- Subscribe Form -->
            <div class="col-12 col-lg-6">
                <div class="subscribe-form text-right">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Subscribe Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-70">
                        <a href="#" class="footer-logo"><img src="/static/img/core-img/logo2.png" alt=""></a>
                        <p>“Blessed is the nation whose God is the LORD, the people he chose for his inheritance.” — Psalm 33:12</p>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-70">
                        <h5 class="widget-title">Quick Links</h5>
                        <nav class="footer-menu">
                            <ul>
                                <li><a href="https://archdioceseofnairobi.org"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Archdiocese of Nairobi</a></li>
                                <li><a href="https://www.cardinalotunga.org"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Beatification Cardinal Otunga</a></li>
                                <li><a href="http://www.catholicnewsagency.com"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Catholic News Agency</a></li>
                                <li><a href="http://cisanewsafrica.com"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Cisa News Africa</a></li>
                                <li><a href="https://www.consolata.org/index.php?lang=it"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Consolata Missionaries</a></li>
                                <li><a href="http://www.grgonlus.org"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Gruppo Resurrection Garden ( GRG )</a></li>
                                <li><a href="https://kccb.or.ke"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Kenya Conference of Catholic Bishops</a></li>
                                <li><a href="https://www.vatican.va/content/vatican/it.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Vatican</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-70">
                        <h5 class="widget-title">Latest News</h5>
                        <!-- Single Latest News -->
                        <div class="single-latest-news">
                            <a href="#">Universal Fratenity</a>
                            <p><i class="fa fa-calendar" aria-hidden="true"></i> Jubilee 2025</p>
                        </div>

                        <!-- Single Latest News -->
                        <div class="single-latest-news">
                            <a href="#">Listening to the Cry of the Poor</a>
                            <p><i class="fa fa-calendar" aria-hidden="true"></i> Jubilee 2025</p>
                        </div>

                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-70">
                        <h5 class="widget-title">Contact Us</h5>

                        <div class="contact-information">
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i>Rhino park Road, Karen, Nairobi Kenya</p>
                            <a href="callto:001-1234-88888"><i class="fa fa-phone" aria-hidden="true"></i>0792-639-996</a>
                            <a href="mailto:theresurrectiongarden@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>theresurrectiongarden@gmail.com</a>
                            <p><i class="fa fa-clock-o" aria-hidden="true"></i> Mon - Sat: 08.00am - 17.00pm</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Copwrite Area -->
    <div class="copywrite-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center flex-wrap">
                <!-- Copywrite Text -->
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Resurrection Garden | Developed with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://eyern.dev" target="_blank">Eyern</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->